#page {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.title p {
  font-size: 1.5rem;
}
.english {
  font-size: 1.25rem;
}
.korea {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8rem;
}
/* TODO: 태블릿 */
@media screen and (min-width: 768px) {
  .title p {
    font-size: 2rem;
  }
  .english {
    font-size: 1.5rem;
  }
  .korea {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
  }
}
/* TODO: 데스크탑 */
@media screen and (min-width: 1280px) {
  .english {
    font-size: 1.5rem;
  }
  .korea {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
  }
}
